<!DOCTYPE html>
<html>
<head>
  <title>Contact manager</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navibar">
       <%=link_to "Home page",root_path %>
  <% if current_user %>
      <%=link_to current_user, current_user%> signed in
      <%=link_to "Sign out",signout_path %>
      <%=link_to "Your contacts", contacts_path %>
      <%=link_to "Create new contact",new_contact_path %>

      <% else %>
      <%=link_to "Sign up", signup_path %>
      <%=link_to "Sign in", signin_path%>
  <% end %>
  <%= yield %>
</div>
</body>




