<body>
<div class="navibar">
  <strong>Contact manager</strong>
       <p><%=link_to "Home page",root_path %></p>
  <% if current_user %>
      <p><%=link_to current_user, current_user%> signed in </p>
      <p><%=link_to "Sign out",signout_path %></p>
      <p><%=link_to "Your contacts", contacts_path %></p>
      <p><%=link_to "Create new contact",new_contact_path %></p>

      <% else %>
      <p><%=link_to "Sign up", signup_path %></p>
      <p><%=link_to "Sign in", signin_path%></p>
  <% end %>
  <%= yield %>
</div>
</body>




